body {
   background-color: #F5F5F5;
   font-family: 'Poppins', sans-serif;
}

body.admin-body {
	background:url("../img/admin/sfondo-admin.jpg");
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

img {
   max-width: 100%;
   height: auto;
}

.logoAdmin {
   width: 90px;
   margin: auto;
}

.logoAdmin img {
   max-width: 100%;
}

.form-container {
   max-width: 600px;
   margin: auto;
   margin-top: 5rem;
   -webkit-backdrop-filter: blur(10px);
	backdrop-filter:blur(10px);
	background: rgba(255,255,255,0.5);
	padding: 2rem;
	border-radius: 6px;
}

.form-container h2 {
   margin-bottom: 3rem;
   text-align: center;
}

.margin {
   height: 126px;
   background-color: #9ccd76;
}

.tipo {
   display: flex;
   justify-content: space-around;
}

.hamburger {
   color: white;
}

.btnLogin {
   background-color: greenyellow;
}

.btn-submit {
   background-color: #9ccd76f3;
   color: honeydew;
   font-weight: bold;
}

.fa-check-circle {
   color: #9ccd76f3;
}

.navbar {
   background-color: #9ccd76f3;
}

.nav-link {
   color: honeydew;
}

.nav-link:hover {
   color: black;
}

button {
   background-color: rgb(58, 0, 165)
}

.footer {
   background-color: rgb(155, 205, 118);
   height: 126px;
   width: 100%;
   text-align: center;
   padding: 3rem;
   margin-top: 5rem;
}

.footer p {
   margin: 0px;
}

.alimentazionebottoni {
	color: honeydew;
	border: 1px solid honeydew;
	background: #9ccd76f3;
	
}